<div class="authentication">
  <h1>Register</h1>

  <form>
    <label for="username">Username</label>
    <input
      (change)="change($event, 'username')"
      id="username"
      type="text"
      placeholder="Your username or e-mail"
    />

    <p *ngIf="!valid.username" class="error">
      Username can consist of letters and numbers only and the minimum length is
      5!
    </p>

    <label for="email">Email</label>
    <input
      (change)="change($event, 'email')"
      id="email"
      type="email"
      placeholder="Your email"
    />

    <p *ngIf="!valid.email" class="error">
      Your e-mail is not valid
    </p>

    <label for="password">Password</label>
    <input
      (change)="change($event, 'password')"
      id="password"
      type="password"
      placeholder="Your password"
    />

    <label for="confirmPassword">Confirm password</label>
    <input
      (change)="change($event, 'confirmPassword')"
      id="confirmPassword"
      type="password"
      placeholder="Confirm your password"
    />

    <p *ngIf="!valid.password" class="error">
      Passwords are different or shorter than 5 characters
    </p>

    <button type="submit" (click)="onSubmit($event)">Send</button>
  </form>
</div>
