<div class="authentication">
  <h1>Register</h1>

  <form>
    <label for="username">Username</label>
    <input
      id="username"
      type="text"
      placeholder="Your username or e-mail"
      (keyup)="onKey($event, 'username')"
    />

    <p *ngIf="!valid.username" class="error">
      Username can consist of letters and numbers only and the minimum length is
      5!
    </p>

    <label for="email">Email</label>
    <input
      id="email"
      type="text"
      placeholder="Your email"
      (keyup)="onKey($event, 'email')"
    />

    <p *ngIf="!valid.email" class="error">
      Your e-mail is not valid
    </p>

    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      placeholder="Your password"
      (keyup)="onKey($event, 'password')"
    />

    <label for="confirmPassword">Confirm password</label>
    <input
      id="confirmPassword"
      type="password"
      placeholder="Confirm your password"
      (keyup)="onKey($event, 'confirmPassword')"
    />

    <p *ngIf="!valid.password" class="error">
      Passwords are different or shorter than 8 characters
    </p>
    <button type="button" (click)="onSubmit($event)">Send</button>
  </form>
  <p *ngIf="error != null" class="error">
    Fill in the empty fields
  </p>
</div>
